<div class="details">
  <div class="heading">
    <span>Chemical products information</span>
  </div>
  {% for compound in compounds %}
  <div class="compound-container">
    <div class="compound-name">
      <strong id="{{compound.name|replace(' ', '-')}}">{{compound.name}}</strong>
      {% if compound.synonyms %}
      [synonyms: {{', '.join(compound.synonyms)}}]
      {% endif %}
    </div>
    <div class="compound-structure">
      <div class="box">
        {% if compound.structure %}
        <canvas id="compound-drawing-{{loop.index}}" width="100%" class="smiles-canvas" data-smiles="{{compound.structure|string}}"></canvas>
        <div class="focus-clipboard">
          <span class="clipboard-copy" data-seq="{{compound.structure|string}}">Copy SMILES</span>
        </div>
        <div id="compound-drawing-{{loop.index}}-modal" class="modal-container">
          <div class="modal-content">
            <canvas class="smiles-canvas-modal" data-smiles="{{compound.structure|string}}"></canvas>
          </div>
        </div>
        {% else %}
        (no structure information available)
        {% endif %}
      </div>
    </div>
    <div class="compound-formula">
      <div class="box">
      {% if compound.formula %}
      {% for part in compound.formula.parts %}{{part.atom}}<sub>{{part.count}}</sub>{% endfor %}
      {% endif %}
      </div>
    </div>
    <div class="compound-references">
      <div class="box">
      {% if compound.databases %}
      Chemical database entries<br>
      {% for ref_entry in compound.databases %}
      {% if ref_entry.database == "npatlas" %}
      <a href="https://www.npatlas.org/explore/compounds/{{ref_entry.identifier}}">NPAtlas</a><br>
      {% elif ref_entry.database == "pubchem" %}
      <a href="https://pubchem.ncbi.nlm.nih.gov/compound/{{ref_entry.identifier}}">PubCHEM</a><br>
      {% elif ref_entry.database == "chebi" %}
      <a href="https://www.ebi.ac.uk/chebi/searchId.do?chebiId=CHEBI%3A{{ref_entry.identifier}}">ChEBI</a><br>
      {% elif ref_entry.database == "chembl" %}
      <a href="https://www.ebi.ac.uk/chembl/compound_report_card/{{ref_entry.identifier}}">ChEMBL</a><br>
      {% elif ref_entry.database == "chemspider" %}
      <a href="http://www.chemspider.com/Chemical-Structure.{{ref_entry.identifier}}.html">ChemSpider</a><br>
      {% endif %}
      {% endfor %}
      {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
