<div class="details">
    <div class="heading">
    <span>Annotation changelog</span>
    </div>
    <div>
        {% for release in releases %}
        <h4>
            {{release.version}}
            {% if release.date %}
            ({{release.date.strftime('%Y-%m-%d')}})
            {% endif %}
        </h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Submitters</th>
                    <th>Reviewers</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in release.entries %}
                <tr>
                    <td>
                        <strong>{{entry.date.strftime('%Y-%m-%d')}}</strong>
                    </td>
                    <td class="contributors">
                      <ul>
                        {% for contributor in entry.contributors %}
                        <li class="contributor" id="{{contributor | string}}">
                          <svg class="icon"><use xlink:href="images/icons.svg#user-secret"></use></svg>
                          (ID: <span class="contributor-id">{{contributor | string}}</span>)
                        </li>
                        {% endfor %}
                      </ul>
                    </td>
                    <td class="reviewers">
                      <ul>
                        {% for reviewer in entry.reviewers %}
                        <li class="reviewer" id="{{reviewer | string}}">
                          <svg class="icon"><use xlink:href="images/icons.svg#user-secret"></use></svg>
                          (ID: <span class="contributor-id">{{reviewer | string }}</span>)
                        </li>
                        {% endfor %}
                      </ul>
                    </td>
                    <td class="changelog-notes">
                      <svg class="icon"><use xlink:href="images/icons.svg#comment"></use></svg>
                      {{entry.comment}}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endfor %}
    </div>
</div>
